.dark-bg {
    background-image:  linear-gradient(rgba(0,0,0, .9),rgba(0,0,0, .9)), url('../image/backgrd.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#hero .container {
    height: 75vh;
}

.generic {
    padding: 50px 0;
}


.img{
    margin-top: 5px;
  }

.body{
    background-color: #E9ECEF ;
  }